
<form class="" action="/teachents/<%= @teachent.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="course">Title:</label>
  <input type="text" name="course" value ="<%= @teachent.course %>">
  <label for="subject">Subject:</label>
  <textarea name="subject" style="width:auto; height:auto;"><%= @teachent.subject %></textarea>
  <input type="submit" name="" value="Edit Course">
</form>
