<h3> Create a new Course: <h3>
  

<form class="" action="/teachents" method="post">
  <label for="course">Course:</label>
  <input type="text" name="course">
  <label for="name">Subject:</label>
  <input type="text" name="subject">
  <input type="submit" name="" value="Create Course">
</form>